.actions-sect {
    padding-top: 20px;
}

.actions-sect__title {
    font-size: 22px;
    line-height: 64px;
}

.actions-sect__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.actions-sect__item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 16px;

    @include media-xl {
        width: 50%;
    }

    @include media-sm {
        width: 100%;
    }
}

.actions-sect__btn {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}