.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $brand-color;

    @include hover {
        &:hover,
        &:focus {
            background-color: #d5410b
        }
    }
}

.btn__ico {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
