.filter-sect {
    background-color: $sub-bg;
}

.filter-sect__item {
    border-bottom: 1px solid #f2f3f5;

    &.active {
        .filter-sect__text:before {
            transform: rotate(-134deg);
        }

        .filter-sect__desc {
            display: block;
        }
    }
}

.filter-sect__text {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    padding: 15px;
    font-weight: 700;

    &:active {
        opacity: .7;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid $brand-color;
        border-right: 1px solid $brand-color;
        margin: auto;
        transform: rotate(45deg);
    }
}

.filter-sect__desc {
    display: none;
    padding: 20px 15px;
}

.filter-sect__all {
    padding: 20px;
}