.info-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 32px;
    border-left: 1px solid #f2f3f5;
    border-top: 1px solid #f2f3f5;
    background-color: #fff;

    @include media-xl {
        display: block;
        height: 64px;
    }

    @include media-sm {
        height: 40px;
    }
}

.info-product__toggle-price {
    height: 100%;
    display: flex;
    padding-right: 24px;
    border-right: 1px solid #f2f3f5;

    @include media-xl {
        height: 50%;
        padding: 0;
        border: none;
    }

    @include media-sm {
        height: 100%;
    }
}

.info-product__sort {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 24px;
    border-left: 1px solid #f2f3f5;

    @include media-xl {
        height: 50%;
        padding: 0;
        border: none;
    }
    
    @include media-sm {
        display: none;
    }
}

.info-product__sort-title {
    font-weight: 700;
    font-size: 14px;
    margin-right: 8px;
}

.info-product__sort-list {
    display: flex;
}